body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("./pikachu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

#main-game{
    margin-top: 150px;
}

.game-name{
    font-size: 80px;
    color: yellow;
    margin-bottom: 50px;
}

.menu-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.btn-menu{
    width: 220px;
    height: 50px;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.btn-menu:hover{
    background-color: darkkhaki;
}

#table-level{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.bg-black{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.table-popup{
    position: relative;
    background-color: cornflowerblue;
    width: 350px;
    padding: 30px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.table-popup h2{
    margin-top: 0;
    color: white;
}

.btn-level{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.btn-level:hover{
    background-color: darkkhaki;
}

.btn-close{
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    font-size: 20px;
    background-color: darkgray;
    color: white;
    border: 3px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.btn-close:hover{
    background-color: dimgray;
}

#game-screen{
    display: none;
}

#level-title{
    color: gold;
}

#btn-exit{
    width: 200px;
    margin: 70px auto;
}

#board{
    display: grid;
    grid-template-columns: repeat(16, 50px);
    gap: 2px;
    margin: 20px auto;
    width: max-content;
    background-color: transparent;
    padding: 5px;
}

/*Tao o vuong cho bang game (tile)*/
.tile{
    width: 50px;
    height: 50px;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}

.tile:hover{
    background-color: darkkhaki;
}

/*Tao class khi nhan vao o*/
.tile-active{
    border: 3px solid red;
    background-color: white;
    z-index: 10;
}

/*Tao class khi mat o*/
.tile-empty{
    background-color: transparent;
    border: none;
    cursor: default;
    pointer-events: none;
}